---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/distance?apikey=dont_look&code=80238&compare=01609&country=us&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '1487'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"unit":"miles","code":"80238","country":"us","compare":["01609"]},"results":{"01609":1727.12}}'
  recorded_at: Thu, 22 Apr 2021 00:51:20 GMT
recorded_with: VCR 6.0.0
