---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/distance?apikey=c8cad1c0-9be6-11eb-98d8-ef78725a91f1&code=11111&compare=sdfg&country=us&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4335'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"unit":"miles","code":"11111","country":"us","compare":["sdfg"]},"results":[]}'
  recorded_at: Thu, 15 Apr 2021 19:47:37 GMT
recorded_with: VCR 6.0.0
