---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/radius?apikey=c8cad1c0-9be6-11eb-98d8-ef78725a91f1&code=80238&country=us&radius=2&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4325'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"code":"80238","unit":"miles","radius":"2","country":"us"},"results":[{"code":"80208","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80217","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80238","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80243","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80244","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80248","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80250","city":"Denver","state":"CO","c[...]
