---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/radius?apikey=dont_look&code=1111&country=us&radius=2&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '1467'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"code":"1111","unit":"miles","radius":"2","country":"us"},"results":{"error":"postalcode  could
        not be found"}}'
  recorded_at: Thu, 22 Apr 2021 00:51:22 GMT
recorded_with: VCR 6.0.0
