---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/radius?apikey=890cf8e0-a226-11eb-b213-bd22138d4fcb&code=1111&country=us&radius=2&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '1789'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"code":"1111","unit":"miles","radius":"2","country":"us"},"results":{"error":"postalcode  could
        not be found"}}'
  recorded_at: Wed, 21 Apr 2021 23:55:30 GMT
recorded_with: VCR 6.0.0
